@charset "UTF-8";
* {
  background-color: #dbae8e; }

.peak-inside.hidden {
  display: none;
  visibility: hidden; }

.peak-inside {
  position: absolute;
  width: 200px;
  height: 585px;
  background-color: #a95a1c;
  left: 50.5%;
  top: 75px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-container.hidden {
  display: none;
  visibility: hidden; }

.card-container {
  width: 400px;
  height: 600px;
  background-color: #dbae8e;
  background-image: url(./assets/patter-background.png);
  background-size: 45%;
  box-shadow: 8px 0 5px -2px rgba(54, 28, 8, 0.67), -43px 47px 50px -47px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 4rem;
  transform: rotateY(20deg); }
  .card-container .card {
    height: 554px;
    width: 354px;
    background-color: transparent;
    border: 4px solid #dbae8e;
    position: absolute;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .card-container .card .card-text {
      background: none;
      width: 80%;
      margin: 0 auto; }
      .card-container .card .card-text h2 {
        font-family: "Creepster";
        background: none;
        color: #fdf9ee;
        font-size: 80px;
        margin: 0 auto;
        width: 100%;
        text-align: center; }
    .card-container .card img {
      width: 100%; }
  .card-container:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>") 16 0, auto;
    /*emojicursor.app*/
    transform: rotateY(-30deg);
    box-shadow: 24px 0 15px -3px rgba(54, 28, 8, 0.67), -43px 47px 50px -47px rgba(0, 0, 0, 0.75); }

.visible.inside-card-container {
  display: flex;
  visibility: visible; }

.inside-card-container {
  display: none;
  visibility: hidden;
  width: 800px;
  height: 600px;
  background-color: #a95a1c;
  background-image: url(./assets/tan-background-texture.png);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  margin-top: 4rem; }
  .inside-card-container .inside-card {
    background: transparent; }
    .inside-card-container .inside-card .popup {
      background: transparent;
      margin: auto;
      width: 100%;
      min-height: 600px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .inside-card-container .inside-card .popup .bats-container {
        background: transparent;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 50%;
        padding: 1.5rem;
        padding-left: .25rem;
        position: relative;
        left: 0; }
        .inside-card-container .inside-card .popup .bats-container .bats {
          background: transparent;
          width: 40%;
          height: 100%;
          padding-bottom: 2rem;
          opacity: .8; }
      .inside-card-container .inside-card .popup .ghost-container {
        box-shadow: inset 6px -2px 13px -3px rgba(169, 90, 28, 0.64);
        background: transparent;
        width: 50%;
        padding: 0.5rem; }
        .inside-card-container .inside-card .popup .ghost-container .ghost-background {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 1rem;
          margin-top: 1.5rem;
          position: relative;
          background-image: url(./assets/black-texture.png);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
          .inside-card-container .inside-card .popup .ghost-container .ghost-background::after, .inside-card-container .inside-card .popup .ghost-container .ghost-background::before {
            content: "";
            position: absolute;
            z-index: -1;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            top: 50%;
            bottom: 0;
            left: 10px;
            right: 10px;
            border-radius: 100px / 10px; }
        .inside-card-container .inside-card .popup .ghost-container .ghost-placeholder {
          background-image: url(./assets/black-texture.png);
          height: 320px; }
        .inside-card-container .inside-card .popup .ghost-container .card-text {
          background: transparent;
          width: 80%; }
          .inside-card-container .inside-card .popup .ghost-container .card-text h2 {
            font-family: "Creepster";
            background: none;
            color: #fdf9ee;
            font-size: 80px;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            margin-top: 2rem;
            background: transparent; }
  .inside-card-container:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👻</text></svg>") 16 0, auto;
    /*emojicursor.app*/ }

/*# sourceMappingURL=main.css.map */
