body {
    background-color: #FDFCFA; 
    max-width: 1200px;
    margin: 0 auto;
}

.nav-ctn {
    float: right;
    text-align: right;
    max-width: 40%;

    ul {

       li {
            display: inline-block;
            margin-bottom: 20px;
            margin-left: 25px;

            a {
                color: #1B3802;
                text-decoration: none;
            } 
            :hover {
                color: #9EA49F;
            }
       }
       :first-child {
           margin-left: 0;
       }
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;

    .paragraph {
        width: 40%;
        position: relative;
        top: 40%;
        padding: 20px;
    }
    .image {
        width: 60%;
        position: relative;
        top: 20%;
        padding-right: 20px;

        img {
            width: 100%;
            border-radius: 4px;
        }
    }
}

.wrapper {
    padding-top: 60px;
    width: 1200px;
    height: auto;
    position: relative;
    margin: 0 auto;

    .header {
        background-color: #FFFF;
        position: absolute;
        top: 50px;
        z-index: 1;

        h1 {
            font-size: 80px;
            color: #1B3802;
        }
    }

    .center-ctn {
        width: 32%;
        padding-bottom: 32%; /* Same as width, sets height */
        margin-bottom: 2%; /* (100-32*3)/2 */
        position: relative;
        box-shadow: 0 15px 35px -12px rgba(0, 0, 0, 0.25);
        background-color: #efdde5;
        border-radius: 4px;
        // margin: 0 auto;
        position: relative;
        top: 10%;
        
        .portfolio-content {
            width: 100%;
            height: 100%;

            .paragraph {
                top: 20%;
            }
            .image {
                top: 10%;
            }
        }
    }
    .color-1 {
        background-color: #582d40;
    } 
    .color-2 {
        background: #9aa184;
    }
    .color-3 {
        background: #b9dcd2;
    }
    .color-4 {
        background: #009681;
    }
    .color-5 {
        background-color: #c06d59;
    }
    .color-6 {
        background-color: #a07462;
    }
    .color-7 {
        background-color: #ffc27b;
    }
    .color-8 {
        background-color: #fbd872;
    }
    .color-9 {
        background-color: #005151;
    }
    .color-10 {
        background-color: #acb3b8;
    }
    .color-11 {
        background-color: #702082;
    }
    .color-11 {
        background-color: #ef4a81;
    }
    
}

