body {
    background-color: #F4EFE9;
    max-width: 1200px;
    margin: 0 auto;
    // d9fdb9
    // fccaab
    // b3ccca
    // fdebc5
    // 0F1F01
}

.nav-ctn {
    float: right;
    text-align: right;
    max-width: 40%;

    ul {

       li {
            display: inline-block;
            margin-bottom: 20px;
            margin-left: 25px;

            a {
                color: #1B3802;
                text-decoration: none;
            } 
            :hover {
                color: #9EA49F;
            }
       }
       :first-child {
           margin-left: 0;
       }
    }
}

.wrapper {
    width: 1000px;
    height: 600px;
    position: relative;
    padding-bottom: 180px;
    .header {
        background-color: #F4EFE9;
        position: absolute;
        top: 50px;
        z-index: 1;

        h1 {
            font-size: 80px;
            color: #1B3802;
        }
    }
    .center-ctn {
        width: 1000px;
        height: 600px;
        border: #1B3802 solid 4px;
        // box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        // background-color: #FAFAFA;
        border-radius: 4px;
        margin: 0 auto;
        position: absolute;
        top: 75px;
        left: 200px;

        .portfolio-tabs {
            padding-right: 40px;
        }
    } 
    .flex {
        display: flex;
        flex-direction: row;

        .paragraph {
            width: 40%;
            position: relative;
            top: 40%;
            padding-left: 20px;
        }
        .image {
            width: 60%;
            position: relative;
            top: 20%;
            padding-right: 20px;

            img {
                width: 100%;
                border-radius: 4px;
            }
        }
    }
}

