body {
	background-color: #d3cbc0;

	max-width: 1200px;
	margin: 0 auto;
}

.wrapper {
	// width: 1232px;
	// height: auto;
	// margin: auto;

	// position: fixed;
	// top: 30%;
	// left: 20%;

	.woman {
		.neck {
			height: 90px;
			background-color: transparent;

			border-left: 2px solid black;
			border-right: transparent;
		}
		.shoulder {
			width: 105px;
			height: 200px;

			border: 2px solid #100a07;
			border-top-right-radius: 64px;
			border-left: transparent;
			border-bottom: transparent;

			transform: skew(0deg, -10deg);
			position: relative;
			bottom: 10px;
		}
		.round-breast {
			width: 56px;
			height: 76px;

			border-left: 2px solid #100a07;
			border-bottom-left-radius: 61px;
			border-top-left-radius: 69px;
			border-bottom: 2px solid #100a07;

			transform: rotate(-48deg);
			position: relative;
			bottom: 143px;
			right: 32px;

			.nipple {
				width: 11px;
				height: 11px;

				background-color: #100a07;
				border-radius: 100%;

				position: relative;
				left: 15px;
				top: 46px;
			}
		}
		.stomach {
			height: 122px;
			background-color: transparent;

			border-left: 2px solid black;
            border-right: transparent;
            
            transform: rotate(9deg);
            position: relative;
            top: -85px;
            left: 27px;
		}
		.hip {
			width: 105px;
			height: 231px;

			border: 2px solid #100a07;
			border-top-right-radius: 85px;
			border-left: transparent;
			border-bottom: transparent;
            
            transform: rotate(18deg);
			position: relative;
            bottom: 170px;
            right: 11px;
		}
	}
}
