body {
    background-color: #ffe0ec;

    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    width: 1232px;
    height: auto;
    margin: auto;

    position: fixed;
    top: 30%;
    left: 20%;

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .center-ctn {
            width: 15%;
            padding-bottom: 20%;
            /* Same as width, sets height */

            position: relative;

            border-right: 15px solid #cfd8dc;
            background-color: #FFFF;

            .blue {
                background-color: #0073de;
            }

            .red {
                background-color: #FF001b;
            }

            .yellow {
                background-color: #ffbb1c;
            }

            .green {
                background-color: #78C13B;
            }

            .inner-ctn {
                width: 140px;
                height: 150px;

                position: absolute;
                top: 6%;
                left: 12%;
            }

            p {
                width: auto;
                height: auto;
                margin: 0;

                position: absolute;
                bottom: 15%;
                left: 13%;

                color: #cfd8dc;
                text-transform: uppercase;
                font-family: 'Press Start 2P';
            }
        }
    }
}